<div class="messageBox">
    <div class="modal-header">
        <h3>Add workout</h3>
    </div>
    <div class="modal-body">
        <section id="addTraining">
            <form id="addTrainingForm" data-bind="with: providedData">
                <div class="form-group" data-bind="css: { 'has-error': type.isValid() === false}">
                    <label class="control-label" for="trainingType">Type</label>
                    <select class="form-control" name="trainingType" data-bind="options: $parent.trainingTypes, value: type, optionsCaption: 'Choose...'">
                    </select>
                </div>
                <div class="form-group" data-bind="css: { 'has-error': !length.isValid()}">
                    <label class="control-label" for="trainingLength">Duration</label>
                    <input class="form-control" name="trainingLength" type="text" data-bind="value: length" placeholder="hh:mm"/>
                </div>
                <div class="form-group" data-bind="css: { 'has-error': !inZone.isValid()}">
                    <label class="control-label" for="inZone">Time in Zone</label>
                    <input class="form-control" name="inZone" type="text" data-bind="value: inZone" placeholder="hh:mm"/>
                </div>
                <div class="form-group" data-bind="css: { 'has-error': !heartRate.avg.isValid() }">
                    <label class="control-label" for="avrHR">Average HR</label>
                    <input class="form-control" name="avrHR" type="text" data-bind="value: heartRate.avg" placeholder="Value from range 60-220" />
                </div>
                
                <div class="form-group" data-bind="css: { 'has-error': !heartRate.max.isValid()}">
                    <label class="control-label" for="maxHR">Max HR</label>
                    <input class="form-control" type="text" name="maxHR" data-bind="value: heartRate.max" placeholder="Value from range 60-220"/>
                </div>

                <div class="form-group" data-bind="css: { 'has-error': !burnt.calories.isValid()}">
                    <label class="control-label" for="calories">Calories Burnt (kcal)</label>
                    <input class="form-control" type="text" name="calories" data-bind="value: burnt.calories" />
                </div>
                <div class="form-group" data-bind="css: { 'has-error': !burnt.fat.isValid()}">
                    <label class="control-label" for="fat">Fat Burnt (g)</label>
                    <input class="form-control" type="text" name="fat" data-bind="value: burnt.fat"/>
                </div>
                
                <div class="form-group">
                    <label class="control-label" for="externalLink">URL to Endomondo Training</label>
                    <input class="form-control" type="url" name="externalLink" data-bind="value: endomondoUrl" placeholder="http://"/>
                </div>
                <br /> <!-- docelowo nie bydzie br :P -->
                <button type="button" class="btn btn-success" data-bind="click: $parent.save">Send</button>
            </form>
        </section>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-bind="click: modalProvider.close">Close</button>
    </div>
</div>