<!-- it should be moved to the shell.html when it will be ready to use -->
<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav" data-bind="foreach: modalButtons">
                <li>
                    <a data-bind="html: title, click: $parent.modalProvider.open"></a>
                </li>
            </ul>
            <ul class="nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <i class="icon-spinner icon-2x icon-spin"></i>
            </div>
        </div>
    </div>
    
    <div class="container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:true }"></div>
</div>